<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content vertical-align-middle">
    <div class="panel">
      <div class="panel-body">
        <div class="brand">
          <h2 class="brand-text font-size-18">Портал управления энергией</h2>
        </div>
        <form method="post" action="#" autocomplete="off">
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="email" class="form-control" name="login" #login/>
            <label class="floating-label">Логин</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control" name="password" #password/>
            <label class="floating-label">Пароль</label>
          </div>
          <div class="form-group clearfix">
            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg float-left">
              <input type="checkbox" id="inputCheckbox" name="remember">
              <label for="inputCheckbox">Запомнить логин/пароль</label>
            </div>
          </div>
          <a (click)="tryLogin(login.value, password.value)" href='' class="btn btn-primary btn-block btn-lg mt-40">Войти</a>
        </form>
      </div>
    </div>
  </div>
</div>
