<div class="page-header">
  <h1 class="page-title">Рекомендации энергоменеджера</h1>
</div>

<div class="page-content container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="panel">
        <div class="panel-body">
          <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
        </div>
      </div>
    </div>
  </div>
</div>

