.portal-header {
  width: 100%;
  text-align: center;
}

li.site-menu-item.disabled {
  pointer-events: none;
  opacity: 0.6;
}

div.navbar-brand.navbar-brand-center.site-gridmenu-toggle.portal-header.active {
  padding: 20px 0;
}
