/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media (min-width: 767px) {
  .portal-header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
}

li.site-menu-item.disabled {
  pointer-events: none;
  opacity: 0.6;
}
