<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega"
     role="navigation">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
            data-toggle="menubar">
      <span class="hamburger-bar"></span>
    </button>
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle portal-header" data-toggle="gridmenu">
      <span class="navbar-brand-text hidden-xs-down">Портал управления энергией</span>
    </div>
  </div>
  
  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="nav-item hidden-float" id="toggleMenubar">
          <a class="nav-link" data-toggle="menubar" role="button">
            <i class="icon hamburger hamburger-arrow-left">
              <span class="hamburger-bar"></span>
            </i>
          </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar -->
      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="События"
             aria-expanded="false" data-animation="scale-up" role="button">
            <i class="icon md-notifications" aria-hidden="true"></i>
            <span class="badge badge-pill badge-danger up">0</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <div class="dropdown-menu-header">
              <h5>События</h5>
              <span class="badge badge-round badge-danger">Новые 0</span>
            </div>
            <div class="list-group">
              <div data-role="container">
                <div data-role="content">
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Нет новых событий</h6>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="dropdown-menu-footer">
              <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                <i class="icon md-settings" aria-hidden="true"></i>
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Все события
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- End Navbar Collapse -->
  </div>
</nav>


<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon md-puzzle-piece" aria-hidden="true"></i>
              <span class="site-menu-title">КОНФИГУРАЦИЯ</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li class="site-menu-item">
                <a class="animsition-link">
                  <span class="site-menu-title">Магазин Азбука Вкуса 1</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link">
                  <span class="site-menu-title">Магазин Азбука Вкуса 2</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link">
                  <span class="site-menu-title">Магазин Азбука Вкуса 3</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link">
                  <span class="site-menu-title">Магазин Азбука Вкуса 4</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon md-chart" aria-hidden="true"></i>
              <span class="site-menu-title">АНАЛИТИКА</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li class="site-menu-item">
                <a class="animsition-link" routerLink='energy-pie'>
                  <span class="site-menu-title">EnergyPie</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" routerLink='energy-graph'>
                  <span class="site-menu-title">EnergyGraph</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon md-chart" aria-hidden="true"></i>
              <span class="site-menu-title">УПРАВЛЕНИЕ</span>
              <span class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li class="site-menu-item">
                <a class="animsition-link">
                  <span class="site-menu-title">Умный Климат</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link">
                  <span class="site-menu-title">Умный Холод</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link">
                  <span class="site-menu-title">Умный Накопитель</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="site-menubar-footer">
    <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
       data-original-title="Настройки">
      <span class="icon md-settings" aria-hidden="true"></span>
    </a>
    <a href="javascript: void(0);" class="fold-show" (click)="onLogout()" data-placement="top" data-toggle="tooltip"
       data-original-title="Выход">
      <span class="icon md-power" aria-hidden="true"></span>
    </a>
  </div>
</div>

<!-- Page -->
<div class="page">
  <router-outlet></router-outlet>
</div>
<!-- End Page -->


<!-- Footer -->
<footer class="site-footer">
  <div class="site-footer-right">
    © 2018
  </div>
</footer>
