<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega"
     role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
            data-toggle="menubar">
      <span class="hamburger-bar"></span>
    </button>
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle portal-header" data-toggle="gridmenu">
      <span class="navbar-brand-text hidden-xs-down" (click)="return()">Портал управления энергией</span>
    </div>
  </div>

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="nav-item hidden-float" id="toggleMenubar">
          <a class="nav-link" data-toggle="menubar" role="button">
            <i class="icon hamburger hamburger-arrow-left">
              <span class="hamburger-bar"></span>
            </i>
          </a>
        </li>
      </ul>
      <!-- End Navbar Toolbar -->
      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link navbar-avatar username" data-toggle="dropdown" href="#" aria-expanded="false"
             data-animation="scale-up" role="button">
                <span class="avatar avatar-online">
                  <b>{{userName}}</b>
                </span>
          </a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Профиль</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i>Настройки</a>
            <div class="dropdown-divider" role="presentation"></div>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-power" aria-hidden="true"></i>Выход</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="События"
             aria-expanded="false" data-animation="scale-up" role="button">
            <i class="icon md-notifications" aria-hidden="true"></i>
            <span class="badge badge-pill badge-danger up">5</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
            <div class="dropdown-menu-header">
              <h5>События</h5>
              <span class="badge badge-round badge-danger">Новые 5</span>
            </div>
            <div class="list-group">
              <div data-role="container">
                <div data-role="content">
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem"
                     [routerLink]="['/dashboard/e0']">
                    <div class="media">
                      <div class="pr-10">
                        <i class="fas fa-charging-station bg-red-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Событие 1</h6>
                        <time class="media-meta" datetime="2017-06-12T20:50:48+08:00">1 час назад</time>
                          <a class="text-action float-right" href="javascript:void(0)" role="button">
                            
                          </a>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem"
                     [routerLink]="['/dashboard/e0']">
                    <div class="media">
                      <div class="pr-10">
                        <i class="fas fa-tint bg-green-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Событие 2</h6>
                        <time class="media-meta" datetime="2017-06-11T18:29:20+08:00">2 часа назад</time>
                        <a class="text-action float-right" href="javascript:void(0)" role="button">
                        </a>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem"
                     [routerLink]="['/dashboard/e0']">
                    <div class="media">
                      <div class="pr-10">
                        <i class="fas fa-door-closed bg-red-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Событие 3</h6>
                        <time class="media-meta" datetime="2017-06-11T14:05:00+08:00">3 часа назад</time>
                        <a class="text-action float-right" href="javascript:void(0)" role="button">
                          
                        </a>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem"
                     [routerLink]="['/dashboard/e0']">
                    <div class="media">
                      <div class="pr-10">
                        <i class="fas fa-wind bg-blue-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Событие 3</h6>
                        <time class="media-meta" datetime="2017-06-10T13:50:18+08:00">4 часа назад</time>
                        <a class="text-action float-right" href="javascript:void(0)" role="button">
                          
                        </a>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item dropdown-item" href="javascript:void(0)" role="menuitem">
                    <div class="media">
                      <div class="pr-10">
                        <i class="far fa-lightbulb bg-orange-600 white icon-circle" aria-hidden="true"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Событие 4</h6>
                        <time class="media-meta" datetime="2017-06-10T12:34:48+08:00">5 часов назад</time>
                        <a class="text-action float-right" href="javascript:void(0)" role="button">
                          
                        </a>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="dropdown-menu-footer">
              <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                <i class="icon md-settings" aria-hidden="true"></i>
              </a>
              <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                Все события
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- End Navbar Collapse -->
  </div>
</nav>


<div class="site-menubar">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu" data-plugin="menu">
          <li [ngClass]="{'site-menu-item': true,
              'has-sub': false,
              'disabled': false,
              'open': false}"
          >
          <a *ngIf="userName === 'lennon'" [routerLink]="['/dashboard/charts']">
            <i class="site-menu-icon md-chart" aria-hidden="true"></i>
            <span class="site-menu-title">Чарты</span>
          </a>
          </li>
          <li *ngFor="let menuItem of (menu | menuItemSort)"
              (click)="onExpand(menuItem)"
              [ngClass]="{'site-menu-item': true,
              'has-sub': menuItem.hasChildren,
              'disabled': !menuItem.isActive,
              'open': menuItem.expanded}"
          >

            <a href="javascript:void(0)">
              <i class="site-menu-icon md-chart" aria-hidden="true"></i>
              <span class="site-menu-title">{{menuItem.title}}</span>
              <span *ngIf="menuItem.hasChildren" class="site-menu-arrow"></span>
            </a>
            <ul class="site-menu-sub">
              <li *ngFor="let childMenuItem of (menuItem.children | menuItemSort)"
                  [ngClass]="{'site-menu-item': true, 'has-sub': childMenuItem.hasChildren, 'disabled': !childMenuItem.isActive}"
              >
                <a class="animsition-link" routerLink={{childMenuItem.sName}}>
                  <i class="site-menu-icon md-chart" aria-hidden="true"></i>
                  <span class="site-menu-title">{{childMenuItem.title}}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="site-menubar-footer">
    <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" *ngIf="settings"
       data-original-title="Настройки">
      <span class="icon md-settings" aria-hidden="true"></span>
    </a>
    <a href="javascript: void(0);" class="fold-show" (click)="onLogout()" data-placement="top" data-toggle="tooltip"
       data-original-title="Выход">
      <span class="icon md-power" aria-hidden="true"></span>
    </a>
  </div>
</div>

<!-- Page -->
<div class="page">
  <router-outlet></router-outlet>
</div>
<!-- End Page -->


<!-- Footer -->
<footer class="site-footer">
  <div class="site-footer-right">
    © 2018
  </div>
</footer>
